body {
  background-color: rgb(245, 245, 245);
}

.topbar {
  background-color: #dc3545;
  padding-right: 100px;
  padding-left: 100px;
  max-width: 1920px;
}

.navbar {
  background-color: #dc3545;
}

.navbar-light .navbar-brand {
  color: #cdeb06;
  font-size: 23px;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #ffffff;
  font-weight: bolder;
  font-style: italic;
}

.navbar-light .navbar-nav .nav-link {
  color: #cdeb06;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #ffff !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 60px;
  width: 50px;
  outline: #dc3545;
  opacity: 25%;
  background-size: 100%, 100%;
  border-radius: 10%;
  background-image: none;
  background: #dc3545;
}

.carousel-control-next-icon:after {
  content: ">";
  font-size: 35px;
  color: white;
}

.carousel-control-prev-icon:after {
  content: "<";
  font-size: 35px;
  color: white;
}

.profile {
  margin: auto;
  box-shadow: 0px 12px 20px 0px #cccccceb;
}

.profile img {
  border-radius: 100%;
  border: 2px solid lightgray;
  width: 50%;
}

.profile .card-body {
  text-align: center;
}

.simple {
  width: 100%;
  display: flex;
  flex-direction: column;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 5px;
  box-sizing: border-box;
}

.simple:hover {
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 15%);
  background-color: rgb(245, 245, 245);
}

.simple_img {
  max-width: 100%;
  height: 160px;
}

.simple_info {
  width: 100%;
  border-top: 1px solid #eee;
  color: #dc3545;
  font-weight: bolder;
}

.simple_info h4 {
  text-align: center;
  margin-top: 5px;
}

/* control image height */
.card-img-top-300 {
  max-height: 300px;
  overflow: hidden;
}

.slider_sec {
  background: #111111;
  text-align: center;
  color: #fff;
  font-family: "Raleway", sans-serif;
  height: 1000px;
}

.slider_in {
  padding: 65px 40px 80px 40px;
}

.slider_sec h3 {
  margin: 0px 0 45px 0;
  padding: 10px 0 0 0;
  line-height: 1;
  font-size: 40px;
  color: #fff;
  font-weight: 600;
}

.slider_sec h4 {
  margin: 0px;
  padding: 0px 0 0 0;
  line-height: 1;
  font-size: 40px;
  color: #fff;
  font-weight: 300;
}

.img_wrp {
  line-height: 0px;
  background: #fff;
  padding: 5px;
}

.img_wrp img {
  transition: all 0.5s ease;
}

.owl-prev {
  position: absolute;
  z-index: 10;
  display: inline-block;
  left: -13px;
  cursor: pointer;
  font-size: 0.1px;
  top: 46%;
  width: 95px;
  height: 140px;
  background: url("https://photolux.id/assets/images/angle-circle-arrow-left.png")
    no-repeat;
  background-size: 50px 50px;
}

.owl-next {
  position: relative;
  z-index: 10;
  display: inline-block;
  right: -13px;
  cursor: pointer;
  font-size: 0.1px;
  top: 37%;
  width: 45px;
  height: 140px;
  background: url("https://photolux.id/assets/images/angle-circle-arrow-right.png")
    no-repeat center;
  background-size: 50px 50px;
}

.img_text {
  position: absolute;
  left: 0;
  bottom: 20px;
  opacity: 0;
  z-index: 10;
  transition: all 0.5s ease;
  width: 100%;
  font-family: "Raleway", sans-serif;
}

.img_text h5 {
  font-size: 23px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  line-height: 1;
  padding: 0 0 4px 0px;
}

.img_text p {
  font-size: 12px;
  padding: 0px 10px;
  font-weight: 500;
  margin: 0px;
  color: #fff;
  line-height: 20px;
  font-family: "Raleway", sans-serif;
  text-transform: capitalize;
}

.img_wrp:hover img {
  filter: gray;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  transition: all 0.5s ease;
}

.img_wrp:hover .img_text {
  opacity: 1;
  transition: all 0.5s ease;
}

.img_wrp:hover .img_bg {
  opacity: 1;
}

/*Owl carousel Library*/

.owl-carousel,
.owl-carousel .owl-item {
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

.owl-carousel .animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.owl-height {
  -webkit-transition: height 0.5s ease-in-out;
  -moz-transition: height 0.5s ease-in-out;
  -ms-transition: height 0.5s ease-in-out;
  -o-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
}

.owl-carousel {
  display: none;
  width: 100%;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-controls .owl-dot,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-nav .owl-prev {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel .owl-refresh .owl-item {
  display: none;
}

.owl-carousel .owl-item {
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.profile {
  height: 32em;
}

@media only screen and (min-width: 768px) {
  .owl-carousel .owl-item img {
    display: block;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    height: 11rem !important;
  }

  .profile {
    height: 26em;
  }
}

@media only screen and (min-width: 1200px) {
  .owl-carousel .owl-item img {
    display: block;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    height: 14rem !important;
  }

  .profile {
    height: 27em;
  }
}

@media only screen and (max-width: 960px) {
  .brand-box img {
    width: 144px !important;
  }

  .carousel-inner {
    height: 40vh !important;
  }

  .slide-product {
    margin-left: -4vw !important;
    width: 97vw;
  }

  .carousel-inner .carousel-item img {
    height: 40vh !important;
  }

  .filter-section {
    margin-top: -20px !important;
    margin-left: 20px;
    margin-right: 20px;
  }

  .user-section {
    margin-top: -10px !important;
  }

  .filter-section form .form-group .form-control {
    margin-left: 0px !important;
  }

  .tombol-filter {
    margin-bottom: 0px;
    width: 100%;
  }

  .pruduct-section {
    margin-top: -90px;
  }

  .product-info {
    padding: 10px 10px 35px 10px !important;
  }

  .tombol-filter button {
    width: 100%;
  }

  .menu-comp {
    display: none;
  }

  .menu-phone {
    display: flex !important;
    background-color: white;
  }

  .menu-phone .nav .nav-item .nav-link {
    padding: 10px;
  }

  .menu-phone .nav .nav-item .nav-link p {
    margin-bottom: 0;
  }

  .site-footer,
  .section-wa div {
    padding-bottom: 80px !important;
  }

  .section-wa div {
    right: 30px !important;
  }

  .topbar {
    padding-right: 0px;
    padding-left: 0px;
    max-width: auto;
    background-color: rgba(0, 0, 0, 0) !important;
  }

  .navbar {
    background-color: rgba(0, 0, 0, 0) !important;
  }

  .navbar .container-fluid {
    display: flex;
    justify-content: stretch;
    margin-left: 0px;
    margin-right: 0px;
  }

  .pruduct-information .row .col-lg-5 {
    padding-left: 0px;
    padding-top: 10px;
  }

  a.navbar-brand {
    display: none !important;
  }

  .navbar-nav {
    width: 100vw !important;
  }

  .navbar-nav .nav-item {
    width: 100%;
  }

  .form-keyword {
    width: 100% !important;
    padding-left: 10px;
    padding-right: 10px;
  }

  .form-keyword .form-group .input-group {
    box-shadow: 0px 0.125rem 0.25rem rgba(0, 0, 0, 0.3);
  }

  .space-header {
    margin-top: -80px;
  }
}

.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

.no-js .owl-carousel {
  display: block;
}

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  -moz-transition: opacity 0.4s ease;
  -ms-transition: opacity 0.4s ease;
  -o-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.carousel-indicators li {
  border-color: #f4511e;
}

.carousel-indicators li.active {
  background-color: #f4511e;
}

.item h4 {
  font-size: 19px;
  line-height: 1.375em;
  font-weight: 400;
  font-style: italic;
  margin: 70px 0;
}

.item span {
  font-style: normal;
}

.pemesanan-produk {
  background-color: #dc3545;
  color: #fff;
}

hr {
  border: 0;
  height: 1px;
  background-color: #fff;
}

@keyframes example {
  from {
    margin-top: 0;
  }
  to {
    margin-top: -60px;
  }
}

@keyframes example2 {
  from {
    margin-top: -60px;
  }
  to {
    margin-top: 0;
  }
}

.mt-10 {
  animation-name: example;
  animation-duration: 1s;
  margin-top: -60px;
}

.m-t {
  animation-name: example2;
  animation-duration: 1s;
  margin-top: 0;
}
